### gcc/avr-gcc ###
#Results of production code build
build/
obj/

#Results of CppUTest test build
*/test/build/
*/test/obj/


### Atmel Studio ###
#User-specific solution files
**/*.atsuo

#Debug files
**/Debug/

#Sublime Text editor files
*.sublime-workspace
